

/**
013730	green
88432a	brown
e3c0b5	pink
*/


* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Nunito, Arial, Helvetica, sans-serif;
}

body {
    background: #e3c0b5;
    max-width: 1200px;
    margin: 0 auto 5em auto;
}

header, main h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding-top: 2em;
    font-size: 2rem;
    color: #88432a;
    div {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        margin-bottom: 2em;
    }
    img#logo {
        width: 800px;
        margin: 2rem auto;
    }
    ul {
        display: flex;
        list-style-type: none;
        gap: 1em;
    }
    ul#socials img {
        width: 40px;
    }
    a {
        color: #88432a;
        text-decoration: none;
    }
}

main {
    margin: auto;
    font-size: 2rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    color: #88432a;
    background-color: #e3c0b5;
    overflow: auto;
    img {
        width: 100%;
        border-radius: 15px;
    }
    div#offerings {
        font-size: 1.5rem;
        padding: 2em 0;
        margin: 5em 0;
        display: flex;
        justify-content: space-around;
        section {
            text-align: center;
            width: 25%;
            h3 {
                font-weight: normal;
                text-transform: uppercase;
                padding-bottom: 0.5em;
            }
            img {
                width: 180px;
                margin-bottom: 20px;
            }
        }
    }
}


