* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

input {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin: 1em;
    padding: 1em;
}

input[type="submit"] {
    display: none;
}

.jiggle {
    animation: jiggle 0.25s infinite;
}

@keyframes jiggle {
    0% { transform: translate(0); }
    25% { transform: translate(-5px, 0); }
    50% { transform: translate(5px, 0); }
    75% { transform: translate(-5px, 0); }
    100% { transform: translate(0); }
}